html, body {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h4 {
    font-size: 14px;
}

#FeedContainer {
	text-align: center;
}

.Feed {
    padding: 6px;
	margin: 6px;
    font-size: 13px;
	border: solid 1px #bcbcbc;
	border-radius: 6px;
	text-align: justify;
    word-wrap: break-word;
}